<div class="container">
  <ul lass="list-group">
    <li class="list-group-item" routerLink="color/add">Color Add</li>
    <li class="list-group-item" routerLink="color/update">Color Update</li>
    <li class="list-group-item" routerLink="color/delete">Color Delete</li>
    <li class="list-group-item" routerLink="fuel/add">Fuel Add</li>
    <li class="list-group-item" routerLink="fuel/update">Fuel Update</li>
    <li class="list-group-item" routerLink="city/delete">Fuel Delete</li>
    <li class="list-group-item" routerLink="city/add">City Add</li>
    <li class="list-group-item" routerLink="city/update">City Update</li>
    <li class="list-group-item" routerLink="city/delete">City Delete</li>
    <li class="list-group-item" routerLink="additionalservices/add">Additional Service Add</li>
    <li class="list-group-item" routerLink="additionalservices/update">Additional Service Update</li>
    <li class="list-group-item" routerLink="additionalservices/delete">Additional Service Delete</li>
  </ul>

</div>

