<div class="card-body">
  <form *ngIf="fuelForm" [formGroup]="fuelForm">
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">Id</label>
      <input
        type="text"
        id="model-id-input"
        formControlName="id"
        class="form-control"
        placeholder="Id"
      />
      <label for="model-name-input" class="fw-bold mb-3">Name</label>
      <input
        type="text"
        id="model-name-input"
        formControlName="name"
        class="form-control"
        placeholder="Name"
      />
    </div>
  </form>
</div>

<button class="btn btn-primary" (click)="updateFuel()">update</button>
