<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <app-brand></app-brand>
    </div>
    <div class="col-md-9">
      <ul>
        <li *ngFor="let item of models.items">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{ item.imageUrl }}"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">Günlük fiyat {{ item.dailyPrice }}</p>
                  <p class="card-text">
                    {{ item.brandName }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
