<!-- <div class="table-positioner">
  <p-card header="Araç Ekle:" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">

      <form [formGroup]="rentForm" class="form-group">


          <div *ngIf="this.citiesLoaded" class="form-outline mb-3">
              <p-dropdown [options]="cities" formControlName="alisCityId" optionLabel="name" optionValue="id"></p-dropdown>
          </div>
          <div *ngIf="this.citiesLoaded" class="form-outline mb-3">
            <p-dropdown [options]="cities" formControlName="verisCityId" optionLabel="name" optionValue="id"></p-dropdown>
        </div>
        <div *ngIf="this.carsLoaded" class="form-outline mb-3">
          <p-dropdown [options]="cartOfTheCity" formControlName="carId" optionLabel="name" optionValue="id"></p-dropdown>
      </div>


          <div class="form-outline mb-3">
              <input type="number" placeholder="Toplam rent süresi:" formControlName="totalRentDay" class="form-control" name="totalRentDay"/>
          </div>

          <div *ngIf="this.additionalServicesLoaded" class="form-outline mb-3">
            <p-dropdown [options]="additionalServices" formControlName="additionalServicesList" optionLabel="id" optionValue="id"></p-dropdown>
        </div>

      </form>

      <ng-template pTemplate="footer">
          <p-button label="Araç Kirala" icon="pi pi-check" [disabled]="addCarForm.invalid" (click)="rentACar()"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" routerLink="/adminalThings/cars" [style]="{'margin-left': '.5em'}"></p-button>
      </ng-template>
  </p-card>
</div>
 -->

 <div class="container">
 <div class="card-body">
  <form *ngIf="rentCarForm" [formGroup]="rentCarForm">
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">İd</label>


      <div *ngIf="this.carsLoaded" class="form-outline mb-3">

        <select formControlName="id"  [(ngModel)]="selectedCar" (change)="giveSelectedCityId()">
         <option selected >Seçiniz</option>
          <option
          *ngFor="let car of cars.items" id="model-name-input"  value={{car.id}}> {{car.plate}}</option>
        </select>


      </div>

    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">Taking City İd</label>

    </div>
     <div *ngIf="this.citiesLoaded" class="form-outline mb-3">

        <select formControlName="takingCityId"  [(ngModel)]="selectedTakingCity" (change)="giveSelectedCityId()">

          <option
          *ngFor="let city of cities.items" id="model-name-input"  value={{city.id}}> {{city.name}}</option>
        </select>


      </div>


    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">Giving City İd</label>

    </div>
    <div *ngIf="this.citiesLoaded" class="form-outline mb-3">

      <select formControlName="givingCityId"  [(ngModel)]="selectedGivingCity" (change)="giveSelectedCityId()">

        <option
        *ngFor="let city of cities.items" id="model-name-input"  value={{city.id}}> {{city.name}}</option>
      </select>


    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">User İd</label>
      <input readonly
        type="number"
        id="model-name-input"
        formControlName="userId"
        class="form-control"
        placeholder="userId"
      />
    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">Total Rent Day</label>
      <input
        type="number"
        id="model-name-input"
        formControlName="totalRentDay"
        class="form-control"
        placeholder="totalRentDay"
      />
    </div>
    <div  *ngIf="this.additionalServicesLoaded"  class="form-group mb-3">

    <div
  class="container"
  *ngFor="let item of additionalServices.items"  [(ngModel)]="selectedItem"  formControlName="additionalServices"  >

  <input


    class="form-check-input"
    type="checkbox"
    id="inlineRadio1"
    value="{{ item.id }}"
    (click)="addSelectedList(item)"

  />
  <label class="form-check-label" for="inlineRadio1">{{ item.name }}</label>

</div>
</div>

  </form>
  <button class="btn btn-primary" (click)="rentCar()">Rent</button>
 </div>
</div>



