<div class="container">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <p-listbox
        *ngIf="isLoaded == true"
        [options]="brands.items"
        [routerLink]="getRouterLink()"
        [(ngModel)]="selectedBrand"
        optionLabel="name"
      ></p-listbox>

      <!-- <div
        *ngFor="let brand of brands.items"
        (click)="setCurrentBrand(brand)"
        [routerLink]="getRouterLink()"
        class="card"
        style="width: 18rem"
      >
        <div class="card-body">
          <h2>{{ brand.name }}</h2>
        </div>
      </div> -->
    </div>
  </div>
  <div
    *ngIf="isLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
