<!-- <div class="card-body">
  <form *ngIf="loginForm" [formGroup]="loginForm">
    <div class="form-group mb-3">
      <label for="email-input" class="fw-bold mb-3">Email</label>
      <input
        type="text"
        id="email-input"
        formControlName="email"
        class="form-control"
        placeholder="email"
      />
      <label for="password-input" class="fw-bold mb-3">Password</label>
      <input
        type="password"
        id="password-input"
        formControlName="password"
        class="form-control"
        placeholder="password"
      />
    </div>
  </form>
  <button class="btn btn-primary" (click)="login()">Login</button>
</div> -->

<body class="text-center">

  <main class="form-signin">
    <form *ngIf="loginForm" [formGroup]="loginForm">

      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput"  formControlName="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword"    formControlName="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>


      <button class="w-100 btn btn-lg btn-primary" (click)="login()">Sign in</button>


    </form>
  </main>



    </body>
