<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-color-admin></app-color-admin>
    </div>
    <div class="col-md-6">
      <app-fuel></app-fuel>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-12">
      <app-fuel-admin-add></app-fuel-admin-add>
    </div>
  </div>
  <br />
  <h1>Color delete</h1>
  <div class="row">
    <div class="col-md-12">
      <app-color-admin></app-color-admin>
    </div>
  </div>
</div> -->

<hr />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-color-admin-add></app-color-admin-add>
    </div>
    <div class="col-md-12">
      <app-color-admin-delete></app-color-admin-delete>
    </div>
    <div class="col-md-12">
      <app-color-admin-update></app-color-admin-update>
    </div>
  </div>
</div>
