<div class="container mt-5">
  <div class="row hy-100">
    <div class="col-md-6">
      <img
        src="https://img-s3.onedio.com/id-5caacbbc2095c3f80ed87da8/rev-0/w-620/f-jpg/s-7f69154e62a1df35e450b552e34fcb16dfd78206.jpg"
        alt=""
      />
    </div>
    <div class="col-md-6 my-auto">
      <form class="">
        <fieldset>
          <div class="row align-middle">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Alış şehri</label
                >
                <select id="disabledSelect" class="form-select">
                  <option>Veriş şehri</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Veriş şehri</label
                >
                <select id="disabledSelect" class="form-select">
                  <option>Disabled select</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Gün sayısı</label
                >
                <input type="number" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >Bebek kaltugu</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >Sigorta</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >Atıştırmalık</label
                >
              </div>
            </div>
          </div>
          <button routerLink="brands" type="submit" class="btn btn-primary">
            Listele
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
