<div class="container mt-5">
  <div class="row hy-100">
    <div class="col-md-6">
      <img
        src="https://img-s3.onedio.com/id-5caacbbc2095c3f80ed87da8/rev-0/w-620/f-jpg/s-7f69154e62a1df35e450b552e34fcb16dfd78206.jpg"
        alt=""
      />
    </div>
    <div class="col-md-6 my-auto">
      <form class="">
        <fieldset>
          <div class="row align-middle">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Alış şehri</label
                >
                <app-city (giveSelectedCityIdEvent)="SetAlisSehri($event)"></app-city>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Veriş şehri</label
                >
                <app-city (giveSelectedCityIdEvent)="SetVerisSehri($event)"></app-city>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"
                  >Gün sayısı</label
                >
                <input type="number" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check form-check-inline">
                <app-additinal-service></app-additinal-service>
              </div>
            </div>
          </div>
          <button (click)="sehirleriYaz()" type="text" class="btn btn-primary">Console'a şehirleri yaz</button>
          <button routerLink="brands" type="submit" class="btn btn-primary">
            Listele
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
