<div class="card-body">
  <form *ngIf="individualCustomerForm" [formGroup]="individualCustomerForm">
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">User Id</label>
      <input   readonly
        type="number"
        id="model-name-input"
        formControlName="userId"
        class="form-control"
        placeholder="userId"
      />
    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">First Name</label>
      <input
        type="text"
        id="model-name-input"
        formControlName="firstName"
        class="form-control"
        placeholder="First Name"
      />
    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">Last Name</label>
      <input
        type="text"
        id="model-name-input"
        formControlName="lastName"
        class="form-control"
        placeholder="Last Name"
      />
    </div>
    <div class="form-group mb-3">
      <label for="model-name-input" class="fw-bold mb-3">National Id </label>
      <input
        type="text"
        id="model-name-input"
        formControlName="nationalId"
        class="form-control"
        placeholder="National Id"
      />
    </div>
  </form>
  <button class="btn btn-primary" (click)="addIndividualCustomer()">Add Corporate Customer</button>
</div>
